.title {
    text-align: center;
}
/* class is called with a period. Think about a school-related memonic; Class-periods */

.container {
    border: 2px solid blue;
    margin-top: 50px;
    margin-right: 250px;
    margin-bottom: 200px;
    margin-left: 200px;
    padding: 20px 20px 20px 40px

}

/* With Margins and Padding you can use a shorter method */
/* margin: 50px 250px 200px 200px */
/* padding: 50px 250px 200px 200px */
/* pattern is: top -> right -> bottom -> left */


p {
    height: 40px;
    background-color: blue;
    color: white;
    border: 5px solid pink;
}

#margin-experiment-1, #margin-experiment-2 {
    margin: 0;
}

.margin-experiment-3 {
    margin: 5px 10px 20px 0;
    padding: 10px;
}

/* typing "margin: " with a single number after : will apply to all sides */
/* padding is expanding the space WITHIN the border */

.padded-container {
    border: 2px solid red;
    margin: 50px;
    padding: 20px 20px 20px 40px;
}

#padding-experiment-1{
    border: 2px solid black;
    margin: 50px;
    padding: 20px;
}